In [54]:
import pandas as pd
data = pd.read_csv("DisneylandReviews.csv", encoding='latin-1')
data.dropna(inplace=True)
data.head(5)

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong

In [55]:
data["Sentiment"] = "Neutral"
data.loc[data["Rating"] < 3, "Sentiment"] = "Negative"
data.loc[data["Rating"] > 3, "Sentiment"] = "Positive"
print(data.loc[data["Sentiment"] == "Positive"]["Sentiment"].count())
print(data.loc[data["Sentiment"] == "Neutral"]["Sentiment"].count())
print(data.loc[data["Sentiment"] == "Negative"]["Sentiment"].count())

33921
5109
3626

In [59]:
reviews = []
class Review:
    def __init__(self,text,sentiment):
        self.text = text
        self.sentiment = sentiment
for text,senti in zip(data["Review_Text"],data["Sentiment"]):
    review = Review(text,senti)
    reviews.append(review)
#     print(reviews[-1].text[0],reviews[-1].sentiment)