In [40]:
import pandas as pd
data = pd.read_csv("DisneylandReviews.csv", encoding='latin-1')
data.dropna(inplace=True)
data.head(5)

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong

In [41]:
data["Sentiment"] = "Neutral"
data.loc[data["Rating"] < 3, "Sentiment"] = "Negative"
data.loc[data["Rating"] > 3, "Sentiment"] = "Positive"
print(data.loc[data["Sentiment"] == "Positive"]["Sentiment"].count())
print(data.loc[data["Sentiment"] == "Neutral"]["Sentiment"].count())
print(data.loc[data["Sentiment"] == "Negative"]["Sentiment"].count())
data.head(5)

33921
5109
3626

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch,Sentiment
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong,Positive
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong,Positive
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong,Positive
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong,Positive
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong,Positive

In [42]:
reviews = []
class Review:
    def __init__(self,text,sentiment):
        self.text = text
        self.sentiment = sentiment
for text,senti in zip(data["Review_Text"],data["Sentiment"]):
    review = Review(text,senti)
    reviews.append(review)
#     print(reviews[-1].text[0],reviews[-1].sentiment)
reviews[:5]

[<__main__.Review at 0x1e9348ddbe0>,
 <__main__.Review at 0x1e9349f9700>,
 <__main__.Review at 0x1e9348459a0>,
 <__main__.Review at 0x1e934845490>,
 <__main__.Review at 0x1e9348e0b50>]

In [43]:
a = 5000#ile wierszy
from sklearn.model_selection import train_test_split
train,test = train_test_split(reviews[:a],test_size=0.2,random_state=50)
print(len(train))
print(len(test))

4000
1000

In [44]:
x_train = [x.text for x in train]
y_train = [y.sentiment for y in train]

x_test = [x.text for x in test]
y_test = [y.sentiment for y in test]

y_test[0]

'Positive'

In [45]:
#https://scikit-learn.org/stable/tutorial/text_analytics/working_with_text_data.html
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

train_x = vectorizer.fit_transform(x_train)
test_x = vectorizer.transform(x_test)

print(test_x[0])

  (0, 13)	1
  (0, 409)	1
  (0, 486)	1
  (0, 531)	2
  (0, 650)	1
  (0, 653)	1
  (0, 669)	1
  (0, 700)	1
  (0, 761)	3
  (0, 838)	1
  (0, 847)	5
  (0, 882)	1
  (0, 899)	1
  (0, 973)	1
  (0, 1055)	3
  (0, 1072)	1
  (0, 1094)	1
  (0, 1195)	1
  (0, 1665)	2
  (0, 1677)	1
  (0, 1943)	1
  (0, 1980)	1
  (0, 2201)	1
  (0, 2469)	1
  (0, 2581)	1
  :	:
  (0, 9523)	1
  (0, 9582)	1
  (0, 9593)	1
  (0, 9618)	1
  (0, 9627)	8
  (0, 9668)	1
  (0, 9734)	1
  (0, 9888)	1
  (0, 9929)	1
  (0, 10062)	1
  (0, 10133)	1
  (0, 10209)	1
  (0, 10251)	1
  (0, 10259)	1
  (0, 10302)	3
  (0, 10337)	4
  (0, 10381)	2
  (0, 10405)	1
  (0, 10471)	1
  (0, 10486)	2
  (0, 10556)	1
  (0, 10597)	2
  (0, 10609)	2
  (0, 10617)	1
  (0, 10631)	1

In [46]:
from sklearn import svm
clf_svc = svm.SVC(kernel="linear")

clf_svc.fit(train_x,y_train)
# test_x[0]
# prediction = clf_svc.predict(test_x)
print(clf_svc.score(test_x,y_test))

0.788

In [47]:
import joblib
joblib.dump(clf_svc,"DisneyReviewer_SVC.joblib")

['DisneyReviewer_SVC.joblib']

In [48]:
from sklearn.tree import DecisionTreeClassifier
clf_dec = DecisionTreeClassifier()
clf_dec.fit(train_x,y_train)
print(clf_dec.score(test_x,y_test))

0.769

In [49]:
joblib.dump(clf_svc,"DisneyReviewer_DTC.joblib")

['DisneyReviewer_DTC.joblib']

In [50]:
from sklearn.naive_bayes import GaussianNB
clf_gnb = GaussianNB()
clf_gnb.fit(train_x.toarray(),y_train)
# prediction = clf_gnb.predict(test_x.toarray())
print(clf_gnb.score(test_x.toarray(),y_test))

0.617

In [51]:
joblib.dump(clf_gnb,"DisneyReviewer_gnb.joblib")

['DisneyReviewer_gnb.joblib']

In [52]:
from sklearn.linear_model import LogisticRegression
clf_lr = LogisticRegression(max_iter=5000)
clf_lr.fit(train_x,y_train)
print(clf_lr.score(test_x,y_test))

0.828

In [53]:
joblib.dump(clf_lr,"DisneyReviewer_LogisticRegression.joblib")

['DisneyReviewer_LogisticRegression.joblib']